div.quadrado {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    width: 300px;
    height: 300px;
}

body {
    background-image: url('imagens/wallpaper001.jpg');
}

div#q1 {
    background-color: lightblue;
}

div#q2 {
    background-image: linear-gradient(to bottom, yellow, orange);
}

div#q3 {
    background-image: url('imagens/pattern001.png');
}